DJANGO_DEBUG="true"
DJANGO_SECRET_KEY="change-me"
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost,testserver"
DJANGO_CSRF_TRUSTED_ORIGINS="http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:8787,http://localhost:8787,http://127.0.0.1:8788,http://localhost:8788"
DEFAULT_ADMIN_USERNAME="admin"
DEFAULT_ADMIN_PASSWORD="admin"
DEFAULT_ADMIN_EMAIL="admin@skinai.local"
PGHOST="localhost"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD=""
PGDATABASE="postgres"
PGSSLMODE=""
